PORT=3000



MONGODB_URI=mongodb+srv://shru0633_db_user:RB9EzdeFAn6UFDQZ@cluster0.yzxlaaj.mongodb.net/manageeasy?retryWrites=true&w=majority

JWT_SECRET=changeme
SESSION_SECRET=anothersecret

REDIS_URL=rediss://default:AYmZAAIncDFlYmViMmI5YTg5NzY0MTM1YjI4ZDY2MzdhNmI0ZTVlM3AxMzUyMjU@poetic-squid-35225.upstash.io:6379