PORT=3000
# MONGO_URI=mongodb://localhost:27017/inventory_db


MONGODB_URI=mongodb+srv://manageeasy:Shruti%401234@manageeasy-cluster.1cw0ozz.mongodb.net/manageeasy?retryWrites=true&w=majority

JWT_SECRET=changeme
SESSION_SECRET=anothersecret
